# Byte-compiled / optimized / DLL files
__pycache__/

# Unit Tests
.pytest_cache/

# JetBrains
.idea/

# Python stuff
.DS_Store

# Opened document
data/.~lock.restaurant_data.xlsx#

# MySQL config
CONFIG_MYSQL.json
